:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.mainLayout {
    padding: 0;
    height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 1px solid blue;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 8px;
}

img {
    width: 32px;
    height: 32px;
}

main {
    flex: 1;
    overflow: hidden;
}

/* 


        }
    }

} */