.dashboardLayout {
    display: flex;
    gap: 50px;
    height: 100%;
}

.menu {
    flex: 1;
    margin: 1em;

}

.content {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #12101b;
}